:root {
  --theme-element-color: rgb(198, 100, 20);
  --theme-element-color-na: rgb(134, 94, 61);
  --theme-element-bg: #1d2721;
  --theme-element-pad: #324242;
}

html, body {
    background-color: var(--theme-element-bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}

#main {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
    & div {
        padding: 10px;
        display: flex;
    }
}

.coordinates {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
}

.value {
    flex: 0 1 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.pad {
    background-color: var(--theme-element-pad);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1 0 100%;
    border-radius: 10px;
    /* background-color: var(--theme-element-bg); */
}

.debug {
    background-color: rgb(19, 150, 121);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 30%;
} 

.icon {
    color: var(--theme-element-color);
    /* width: 20%; */
    width: 50px;
    height: auto;
    &.disconnected {
        color: var(--theme-element-color-na);
    }
}

